<div class="container pt-3">
  <table class="table ">
    <thead class="thead" style="background-color: #ECBA82;">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th>Créer le :</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | number: '1.2-2' }} €</td>
        <td>{{ product.category }}</td>

        <td>
          <img [src]="'assets/images/uploads/' + product.image" class="img-fluid" [alt]="product.name" style="max-width: 200px; height: auto;" />
        </td>

      </tr>
      <tr *ngIf="products.length === 0">
        <td colspan="5">Aucun produit</td>
      </tr>
    </tbody>
  </table>


</div>

