{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <p>
   Adresse email : {{ user.email }}     
    </p>
    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary">Reinitialiser mon mot de passe</a>

    <h1 class="mt-5">Historique des commandes</h1>

   
{% endblock %}
