{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur votre Profile!{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <p>
   Adresse email : {{ user.email }}     
    </p>
    <a href="{{ path('app_forgot_password_request') }}" class="btn">Reinitialiser mon mot de passe</a>

   
{% endblock %}
