<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette categorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn">supprimer</button>
</form>
