{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Revnenir à la liste</a>
{% endblock %}
