{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
         <main class="col-9 border border-light bg-white">
                <h2>Espace Administrateur</h2>
            </main>
            {% include "_partials/_adminnav.html.twig" %}
        </div>
    </div>
{% endblock %}