{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}

{% block body %}
    {% if product %}
        <h1>Résultat de la recherche</h1>
        <p>Nom du produit : {{ product.name }}</p>
        <p>Description : {{ product.description }}</p>
        <p>Prix : {{ product.price }} €</p>
    {% else %}
        <p>Aucun produit trouvé avec ce nom.</p>
    {% endif %}
{% endblock %}