<h1>Bonjour! Veuillez confirmer votre mail!</h1>

<p>
    
Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Celien expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bravo!
</p>
