<section class="container">
  <div class="row">
    <div class="col">
      <h1 class="form-title">Inscription</h1>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
        <fieldset class="form-group">
          <legend class="form-legend">Mon identité</legend>
          <div class="form-group">
            <input type="text" formControlName="lastname" placeholder="Nom" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" formControlName="firstname" placeholder="Prénom" class="form-control">
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email" class="form-control">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="form-legend">Mes coordonnées</legend>
          <div class="form-group">
            <input type="text" formControlName="address" placeholder="Adresse" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" formControlName="zipcode" placeholder="Code postal" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" formControlName="city" placeholder="Ville" class="form-control">
          </div>
        </fieldset>

        <div class="form-group">
          <label for="plainPassword" class="form-label">Mot de passe</label>
          <input type="password" id="plainPassword" formControlName="plainPassword" class="form-control">
        </div>

        <div class="form-group form-check">
          <input type="checkbox" formControlName="agreeTerms" id="agreeTerms" class="form-check-input">
          <label for="agreeTerms" class="form-check-label">J'accepte les conditions</label>
        </div>

        <button type="submit" class="btn">M'inscrire</button>
        <a routerLink="/login" class="btn">Me connecter</a>
      </form>
    </div>
  </div>
</section>
