{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue</h1>
        <p>
            Bienvenue chez Manel's Beauty, votre destination en ligne pour les prestations de beauté les plus
            exclusives. Nous sommes une entreprise spécialisée dans la beauté et nous offrons une gamme complète de
            services pour vous aider à vous sentir et à paraître votre meilleur.
        </p>
        </p>
        Nous proposons une grande variété de prestations de beauté, des soins de la peau aux services de maquillage et
        de coiffure, pour répondre à tous vos besoins en matière de beauté. Nos professionnels sont hautement qualifiés
        et formés pour vous fournir des prestations exceptionnelles, dans un environnement confortable et relaxant.
        </p>
        <p>
        Chez Manel's Beauty, nous savons que chaque client est unique, c'est pourquoi nous proposons des prestations sur
        mesure pour répondre à vos besoins individuels. Nous utilisons des produits de qualité supérieure pour garantir
        des résultats exceptionnels à chaque fois.
        </p>
        <p>
        Naviguez sur notre site pour découvrir notre gamme de prestations de beauté et nos offres spéciales en cours.
        Prenez rendez-vous dès maintenant pour une expérience de beauté personnalisée et luxueuse chez Manel's Beauty.
        </p>
        <p>
        Merci d'avoir choisi Manel's Beauty pour vos besoins en matière de beauté. Nous sommes impatients de vous voir
        bientôt !
        </p>
    </div>
{% endblock %}