{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <h1>Paiement en échec</h1>
    <a href="{{ path('app_payment_redirect') }}">Réessayer</a>
{% endblock %}
