{% extends 'base.html.twig' %}

{% block title %}Echec de paiement{% endblock %}

{% block body %}
    <h1>votre paiement a échoué</h1>
    <a href="{{ path('app_payment_redirect') }}">Réessayer</a>
{% endblock %}
