{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <h1>Paiement réussi !</h1>
    <a href="{{ path('app_home') }}" class="btn btn-primary">Revenir a la page d'accueil</a>
{% endblock %}
