<div class="container">
  <div class="carroussel pt-5">
    <div class="row">
      <div class="col-lg-6">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
            ></li>
            <li
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/images/caroussel/2.webp"
                class="d-block w-100"
                alt="Image 1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/images/caroussel/car.jpeg"
                class="d-block w-100"
                alt="Image 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/images/caroussel/2.webp"
                class="d-block w-100"
                alt="Image 3"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row img-carre">
          <div class="col-6">
            <img
              src="assets/images/caroussel/1.webp"
              alt="Image 4"
              class="img-fluid rounded image-hover"
            />
          </div>
          <div class="col-6">
            <img
              src="assets/images/caroussel/photo.jpeg"
              alt="Image 5"
              class="img-fluid rounded image-hover"
            />
          </div>
          <div class="col-6 pt-4">
            <img
              src="assets/images/caroussel/photo.jpeg"
              alt="Image 6"
              class="img-fluid rounded image-hover"
            />
          </div>
          <div class="col-6 pt-4">
            <img
              src="assets/images/caroussel/1.webp"
              alt="Image 7"
              class="img-fluid rounded image-hover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Deuxieme container -->
  <div class="rendez-vous pt-5">
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/images/Acceuil/couleurs.jpg"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card-body">
          <h5 class="card-title">BWM STUDIO - LIPS & BROWS EXPERT</h5>
          <p class="card-text">Le studio beauté BWM.</p>
          <p class="card-text-text">
            Une forme de sourcils mal définie, une bouche trop fine des
            asymétries, des tempes dégarnies ou une calvitie naissante : il est
            aujourd'hui possible de corriger toutes ces imperfections grâce à
            nos techniques professionnelles signées BWM.
          </p>
          <div class="text-center pt-5">
            <a href="/app_product_index" class="btn"
              >Découvrir toutes les prestations</a
            >
          </div>
          <p class="card-text pt-5">
            <small class="text-muted">Mis à jour 3 min avant</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Troixieme container -->
  <div class="prestation pt-5">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <h1 class="haut">Retrouvez nos techniques professionnelles</h1>
      </div>
      <div class="card col-12 col-md-3 border-0">
        <img
          src="assets/images/sections/04.png"
          alt="Image 1"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h5 class="card-subtitle text-center">BLUSH LIPS & DARK LIPS</h5>
          <h4 class="card-title">Lips Artist</h4>
          <a class="btn" href="/lips_page">+ D'INFOS</a>
        </div>
      </div>
      <div class="card col-12 col-md-3 border-0">
        <img
          src="assets/images/sections/03.png"
          alt="Image 2"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h5 class="card-subtitle text-center">OMBRE POWDER</h5>
          <h4 class="card-title">Brows Artist</h4>
          <a class="btn" href="/brows_page">+ D'INFOS</a>
        </div>
      </div>
      <div class="card col-12 col-md-3 border-0">
        <img
          src="assets/images/sections/05.png"
          alt="Image 3"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h5 class="card-subtitle text-center">BEAUTÉ DES ONGLES</h5>
          <h4 class="card-title">Nails</h4>
          <a class="btn" href="/freckless_page">+ D'INFOS</a>
        </div>
      </div>
      <div class="card col-12 col-md-3 border-0">
        <img
          src="assets/images/sections/06.png"
          alt="Image 4"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h5 class="card-subtitle text-center">TÂCHES DE ROUSSEURS</h5>
          <h4 class="card-title">Fake Freckles</h4>
          <a class="btn" href="/freckless_page">+ D'INFOS</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Quatrieme container -->
  <div class="salon pt-5">
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/images/Acceuil/salon.jpg"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card-body">
          <h5 class="card-title">Un espace dédié à votre bien-être</h5>
          <p class="card-text">
            Notre salon vous accueille dans une ambiance chaleureuse et
            conviviale.
          </p>
          <p class="card-text">
            Nos techniciens experts vous guideront tout au long de votre
            expérience BWM pour que vous vous sentiez détendu et à l'aise.
          </p>
          <div class="text-center pt-5">
            <a href="/about_us" class="btn">En savoir plus</a>
          </div>
          <p class="card-text pt-5">
            <small class="text-muted">Mis à jour 3 min avant</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
