<form method="post" action="{{ path('admin_order_item_delete', {'id': order_item.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette élèment de commande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_item.id) }}">
    <button class="btn">Delete</button>
</form>
