{% extends 'base.html.twig' %}

{% block title %}Modifier l'élèment de commande{% endblock %}

{% block body %}
    <h1>Modifier l'élèment de commande</h1>

    {{ include('admin/order_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_order_item_index') }}">Revenir à la liste</a>

    {{ include('admin/order_item/_delete_form.html.twig') }}
{% endblock %}
