{% extends 'base.html.twig' %}

{% block title %}Nouvel élèment de commande{% endblock %}

{% block body %}
    <h1>Créer un nouvel élément de commande</h1>

    {{ include('admin/order_item/_form.html.twig') }}

    <a href="{{ path('admin_order_item_index') }}">Revenir à la liste</a>
{% endblock %}
