{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h1>Modifier un produit</h1>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_product_index') }}">Revenir à la liste</a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
