<form method="post" action="{{ path('admin_order_delete', {'id': order.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette commande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn">Supprimer</button>
</form>
