{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle commande</h1>

    {{ include('admin/order/_form.html.twig') }}

    <a href="{{ path('admin_order_index') }}">Revenir à la liste</a>
{% endblock %}
