{% extends 'base.html.twig' %}
{% block title %}DETAILS -Brows With Manel{% endblock %}
{% block body %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('assets/images/BROWS/ombrebrows.png') }}" alt="Image de femmes montrant leurs sourcils" class="img-fluid">
                <p class="text-justify pt-3">L'Ombre powder également appelé Shading, est une technique de maquillage permanent manuel ou électrique qui permet de créer un effet d’ombrage. Cela consiste à redessiner le sourcil en créant une forme en harmonie avec votre visage afin de sublimer votre regard. Que vous ayez des sourcils peu garnis, asymétriques, ou des défauts tels que des trous, cicatrices, etc., cette méthode permet d’y remédier.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ asset('assets/images/BROWS/A.png') }}" alt="Image avant ombre powder" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ asset('assets/images/BROWS/resultatombre.png') }}" alt="Image résultat ombre powder" class="img-fluid">
            </div>
            <div class="col-12">
                <h2 class="mt-4">Qu'est-ce que l'Ombre Powder ?</h2>
                <p>Le pigment est inséré dans la peau sous forme de petits points fondus. Cette technique convient à tout type de sourcils, qu'ils soient garnis ou vides. La tenue varie selon le type de peau, à savoir qu'une peau grasse aura tendance à dissiper le pigment plus rapidement qu'une peau sèche, mais la moyenne tourne autour d'1 à 2 ans. Une retouche fixatrice est à faire 4 à 6 semaines après le premier rendez-vous. Cette retouche est nécessaire afin de bien fixer le pigment et obtenir le résultat final. Par la suite, une retouche par an suffit.</p>
                <h2 class="mt-4">Comment se déroule une séance ?</h2>
                <p>La séance commence par un nettoyage profond de la zone afin d'éliminer toute source de microbe et supprimer les risques d'infections. Un traçage au crayon gras est ensuite effectué sur votre sourcil pour créer une forme en tenant compte de facteurs tels que la forme de votre visage, les dimensions de vos yeux, de votre nez, etc.</p>
                <p>Cette forme provisoire vous est montrée avant de commencer la pigmentation afin que vous puissiez apporter des modifications selon vos préférences et vos envies, ce qui permet d'obtenir un résultat harmonieux au plus près de vos attentes.</p>
                <p>La couleur du pigment est choisie en fonction de votre couleur de peau, celle de votre cuir chevelu et de vos cheveux bien sûr.</p>
                <p>La séance dure entre 1 à 2 heures selon le travail à effectuer : le rattrapage d'une ancienne pigmentation que ce soit par rapport à la forme ou à la couleur du pigment qui a viré demande souvent plus de temps.</p>
                <p>La durée de la séance peut aussi varier selon la sensibilité de la cliente, la peau de la zone travaillée est très fine et la tolérance face à la douleur diffère pour chacune.</p>
                <h2 class="mt-4">Les retouches</h2>
                <p>L'Ombre Powder s'effectue en 2 séances : le premier rendez-vous étant la création du sourcil, le pigment est incorporé une première fois sous la peau. À la suite de ce premier rendez-vous, des croûtes apparaîtront sur la totalité de votre sourcil, il ne faudra pas les enlever vous-même mais attendre qu'elles s'en aillent seules. Une fois tombées, la couleur du pigment aura perdu jusqu'à 70% de sa teinte, c'est pourquoi une séance de retouche est nécessaire pour fixer le pigment ce qui aura pour effet de lui rendre sa teinte pour obtenir le résultat final et également le faire tenir dans le temps. Il faudra néanmoins attendre 10 jours après chaque rendez-vous pour que les croûtes qui se seront formées tombent et révèlent le résultat final.</p>
                <h2 class="mt-4">Les contre-indications</h2>
                <p>Le maquillage semi-permanent n'est pas recommandé si :</p>
                <ul>
                <li>Vous êtes mineur</li>
                <li>Vous êtes enceinte ou allaitante</li>
                <li>Vous êtes sous traitement médical (Roaccutane, anticoagulant...)</li>
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}