<footer class="container-fluid">
	<div class="row">
		<section class="col">
			<h5>BWK STUDIO</h5>
			<ul class="list-unstyled">
				<li><a href="#">ACCUEIL</a></li>
				<li><a href="#">A PROPOS</a></li>
				<li><a href="#">BROWS</a></li>
				<li><a href="#">LIPS</a></li>
				<li><a href="#">FRECKLESS</a></li>
			</ul>
		</section>
		<section class="col">
			<h5>VOUS & BWM</h5>
			<ul class="list-unstyled">
				<li><a href="#">MENTIONS LÉGALES</a></li>
				<li><a href="#">C.G.V.</a></li>
				<li><a href="#">POLI. DE CONFIDENTIALITÉ</a></li>
				<li><a href="#">MON COMPTE</a></li>
				<li><a href="#">NOUS CONTACTER</a></li>
			</ul>
		</section>
		<section class="col">
			<div class="text-center">
				<img src="{{ asset('assets/images/LOGO/BWM.png') }}" alt="Logo" class="img-fluid w-25">
			</div>
		</section>
	</div>
</footer>
