<div class="container">
  <h1>Panier</h1>

  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let item of cartItems" class="cart-item">
      <h4>{{ item.name }}</h4>
      <p>{{ item.description }}</p>
      <div class="quantity">
        <button (click)="decreaseQuantity(item)" class="btn btn-sm">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="addToCart(item)" class="btn btn-sm">+</button>
      </div>
      <div class="product-image">
        <img [src]="item.image" class="card-img-top" [alt]="item.name" />
      </div>
    </div>

    <button (click)="handlePayment()" class="btn">Payer</button>
    <button (click)="clearCart()" class="btn">Vider le panier</button>
  </ng-container>

  <ng-template #emptyCart>
    <p>Votre panier est vide.</p>
  </ng-template>
</div>
