{% extends 'base.html.twig' %}

{% block title %}Elèments de commande {% endblock %}

{% block body %}

<div class="container pt-3">
<h1>Elèments de commande </h1>
    <table class="table">
        <thead class="thead" style="background-color: #ECBA82;">
            <tr>
                <th>Nom du produit</th>
                <th>Prix du produit</th>
                <th>Quantités commandés</th>
            </tr>
        </thead>
        <tbody>
        {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.product }}</td> {# Assurez-vous que la propriété product de l'entité OrderItem correspond au nom du produit #}
                <td>{{ order_item.product.price|number_format(2, ',', '.') }}€</td>
                <td>{{ order_item.quantity }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun element de commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_home') }}"class="btn">Retour à l'acceuil</a>
</div>
{% endblock %}
