{% extends 'base.html.twig' %}

{% block title %}LIPS -Brows With Manel{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('assets/images/LIPS/lips.png') }}" alt="Image femmes avec lèvres pulpeuses" class="img-fluid">
                <p class="text-justify pt-3">Le « blush Lips », est un procédé de maquillage semi permanent qui se situe au niveau des lèvres. Son application permet d’obtenir un effet dégradé afin de donner du volume mais aussi une couleur aux lèvres.
                Cette technique donne un aspect pulpeux à vos lèvres en redessinant parfaitement leurs contours (bouche trop fine, asymétrique, dessiner l’arc de cupidon).
                Le dark Lips part du même principe, mais celui-ci est plus spécifiques aux lèvres marrons/ très foncées souvent associées aux peaux métisses et noires.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ asset('assets/images/LIPS/resultatlips.png') }}" alt="Image avant lips" class="img-fluid ">
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ asset('assets/images/LIPS/avantapres.png') }}" alt="Image après lips" class="img-fluid ">
            </div>
            <div class="col-12">
                <h1 class="mt-4">01. Comment se déroule une séance ?</h1>
                    <p>Pour le Blush Lips, la couleur et le rendu souhaité (naturel, ou effet rouge à lèvres) sont choisis directement le jour du rendez-vous.
                        Une retouche peut-être nécessaire 4/6 semaines après la première séance afin d'intensifier la couleur, par la suite une retouche annuelle est suffisante.</p>
                    <p>Pour le Dark Lips uniquement (lèvres foncées), il faudra compter entre deux et cinq séances espacés de 50/60 jours entre chaque séance, en fonction de la teinte de vos lèvres. Plus les lèvres sont foncées, plus il y aura des retouches à effectuer pour obtenir le résultat final.</p>
                    <p>Le maquillage semi permanent des lèvres dure entre 1 à 2 ans. Une fois le résultat souhaité obtenu, une retouche annuelle est suffisante.</p>
                <h2 class="mt-4">Les contre-indications</h2>
                    <p>Le blush Lips n'est pas recommandé si :</p>
                <ul>
                    <li> Ne pas être enceinte ou allaiter</li>
                    <li> Ne pas être sous traitement médical</li>
                    <li>Être majeur</li>
                    <li>Pour les personnes ayant fait des injections à l'acide hyaluronique, il faudra attendre deux mois avant de pouvoir réaliser un blush lips, et également deux mois après pour réaliser des injections.</li>
                </ul>
                <h2 class="mt-4"> Instruction avant rendez-vous</h2>
                <ul>
                    <li> Pour les personnes sujettes à l'herpès labiale : commencer un traitement la veille du rendez-vous ou le jour même et durant 5 jours (Demander une ordonnance à votre médecin en amont, les crème sans ordonnance ne sont pas suffisante pour prévenir l'herpès)</li>
                    <li> Réaliser un gommage sur vos lèvres 3 jours minimum avant votre rendez-vous (de préférence 7 jours) avec sucre + miel</li>
                    <li> Hydrater au maximum ses lèvres</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
