<footer class="container-fluid">
  <div class="row">
    <section class="col">
      <h5>BWK STUDIO</h5>
      <ul class="list-unstyled">
        <li><a routerLink="/">ACCUEIL</a></li>
        <li><a routerLink="/about">A PROPOS</a></li>
        <li><a routerLink="/brows">BROWS</a></li>
        <li><a routerLink="/lips">LIPS</a></li>
        <li><a routerLink="/freckless">FRECKLESS</a></li>
      </ul>
    </section>
    <section class="col">
      <h5>VOUS & BWM</h5>
      <ul class="list-unstyled">
        <li><a href="#">MENTIONS LÉGALES</a></li>
        <li><a href="#">C.G.V.</a></li>
        <li><a href="#">POLI. DE CONFIDENTIALITÉ</a></li>
        <li><a routerLink="/my-account">MON COMPTE</a></li>
        <li><a routerLink="/contact">NOUS CONTACTER</a></li>
      </ul>
    </section>
    <section class="col">
      <div class="text-center">
        <img src="assets/images/LOGO/BWM.png" alt="Logo brows with manel" class="img-fluid w-50">
      </div>
    </section>
  </div>
</footer>
